 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        #header{
          padding: 40px 40px 200px 40px;
        }
        
        h1{
            padding-top: 70px;
        }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
            #header{
          padding: 40px 40px 270px 40px;
        }
        
        h1{
            padding-top: 150px;
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #header{
          padding: 40px 40px 270px 40px;
        }
        
        h1{
            padding-top: 150px;
        }
    
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
         #header{
          padding: 40px 40px 270px 40px;
        }
        
        h1{
            padding-top: 150px;
        }
    }
